.board {
    display: grid;
    width: 500px;
    margin: auto;
    grid-template-areas: 'topLeft topMid topRight'
                        'midLeft midMid midRight'
                        'botLeft botMid botRight'
}
#score-board {
    display: grid;
    grid-template-areas: 'left right' 'scrore1 score2';
    text-align: center;
    background-color: #7da0b79c;
    margin: 1rem;
    padding: 1rem;
}

#score-board span {
    font-size: x-large;
}

#score-board h2 {
    margin-bottom: 0;
}

.center {
    text-align: center;
}
.cell {
    border: 1px solid black;
    height: 7rem;
}